
body,html{
    font-family: 'Rubik', sans-serif !important;
    background: linear-gradient(180deg, #121221 0%, #0A4A96 100%);
    /* background: url('./images/Rectangle-1-min.png'); */
    background-repeat: no-repeat;
    min-height: 200vh;
    font-weight: 200;
}
nav a:hover{
    color: #E6E6E6;
}

a{
    text-decoration: none !important;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
a:hover{
    text-decoration: none;
    color:transparent;
}
.carousel {
    position: relative;
    overflow: hidden;

  
  
  }
  
  .carousel__slider {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 80vw !important;
    /* border: 2px solid #333; */
    height: 200px;
  }
  .carousel__list {
    position: absolute;
    min-width: 100vw !important;
    top: 50% !important;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .carousel-item{
    color: #FFFFFF;
    text-align: center;
  }
  

  .carousel__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500% !important;
    margin: 0 20px !important;
    height: 100px;
    
    border-radius: 50px;
    box-sizing: border-box;

    cursor: pointer;
  }
  .linkdin-icon{
    margin-left: 20px;
    color: #0072b1;
  } */

  
  
  /* Parent wrapper */
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin: auto;
    max-width: 100vw;
  }
  
  .wrapper--vertical {
    flex-direction: row;
    height: 100vh;
  }

  /* Toggle direction button */
  .toggle {
    --size: 3rem;
    position: relative;
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: var(--size);
    height: var(--size);
    font: inherit;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 50%;
    color: inherit;
    background-color: var(--color-bg-accent);
    z-index: 1;
  }
  
  .toggle:focus-visible {
    box-shadow: 0 0 0 2px var(--color-text);
  }
  
  .toggle span {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: calc(100% + 0.4em);
    width: fit-content;
    white-space: nowrap;
    transform: translateY(-50%);
    animation: fade 400ms 4s ease-out forwards;
    user-select: none;
  }
  
  .toggle svg {
    --size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--size);
    height: var(--size);
    fill: currentcolor;
    transform: translate(-50%, -50%);
    transition: transform 300ms cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  .toggle--vertical svg {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  
  @keyframes fade {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
   */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --white:#FFFFFF;
}
html,body{
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

.responsive{
    width: 140vw;
    max-width: 400px;
    height: auto;
}
.hero-section{
    margin: 0 auto !important;
}
.inner{
    width: 90%;
    margin: 50px auto;
}

.flex{
    display: flex;
    align-items: center;
}
nav{
    background: rgba(0, 0, 0, 0.25);
    padding: 10px 0 10px 20px;
    justify-content: space-evenly;
}

nav .logo{
  
    width: 130px;
    height: 54px;
    position: relative;
    right: 10vw;
    
  
}


/* hero section starts here */

.hero-section .left,.right{
    width: 40%;
    padding:50px;
}
.hero-section .right img{
    width: 120%;
    margin-left: -100px;
    
}
.hero-btns{
    position: relative;
    right: 25px;
    margin: 20px 0;
}
.hero-section .left{
    width: 60%;
 
}

.hero-section .content{
    color: var(--white);
    font-size: 4vw;
    width: 80%;
   
}

nav{
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 25px;
}

.login{
    background: linear-gradient(86.25deg, #3180D5 7.06%, #30C29F 87.74%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}







.btns:hover{
    color: #8EFFE4;
}
.btns{
    width: 20vw;
height: 19px;
font-weight: 400;
font-size: 1.5vw;
line-height: 19px;
border-radius:5px;
margin:20px 0 0 20px;
text-align: center;
text-decoration: none;

padding: 1.2rem 2rem;
background-origin:border-box;
background-clip: content-box,border-box;
color: #8EFFE4;
background: #1B1B1B;
/* padding: 12px 22px; */
border-left: 7px solid #3180D5;
border-right: 7px solid #30C29F;
background-image: linear-gradient(90deg, #3180D5, #30C29F), linear-gradient(90deg, #3180D5, #30C29F);
background-size: 100% 5px;
background-position: 0 0, 0 100%;
background-repeat: no-repeat;


}

.border {
	font-size: 1.6rem;
	display: grid;
	place-items: center;
	min-height: 200px;
	border: 8px solid;
	padding: 1rem;
}
.instructor-main{
    justify-content: space-around;
    
}
.marquee{
    display: grid !important;
}

.instructor-img img{
    border-radius: 50% !important;
    object-fit: cover !important;
}
.fav-icon img{
position: absolute !important;
top: 5% !important;
right: 5% !important;
}
.marquee-content{
    align-self: flex-end !important;
}
.ins-content{
    color: #F5F5F5 !important;
    font-size: 1vw;
    width: 100%;
    min-height: 150px !important;

    text-align: justify !important;
    display: flex !important;
    align-items: flex-start !important;
    
}
.card-icons{
    color: #30C29F;
    text-align: center;
   

}
.card-icons span{
    font-size: 14px !important;
}

.ins-content{
 
    text-align: center;
}
.ins-heading{
    margin: 10px 0;
}
.instructor-btn{
border: none;
display: inline-block;
position: absolute !important;
top: 23% !important;
left: 2% !important;
outline: none;
  width: 100% !important;
    border-radius: 30px;
  text-decoration: none;

  
    background: linear-gradient(86.25deg, #3180D5 7.06%, #30C29F 87.74%);
}
.or-section{
    width: 18vw;
    position: absolute;
    top: 42vw;
    left: 11%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    margin: 20px 0;
    
}

.or-element{
    width: 80%;
    background: #FFFFFF;
    height: 1px;
}
.or-heading{
    margin: 0 10px;
    font-weight: 100;
    font-size: 20px;
}
.member{
    position: relative;
    left: 2vw;
    top: 1vw;

}

.box{

    color: #FFFFFF;
min-height: 600px;
    position: relative;
}
.linkdin-icon:hover{
    color: #0072b1;
}
.heading{
    margin: 20px 0;
}
.box-content p{
    color: #E6E6E6;
    width: 60%;
}
.icons img{
    width: 20px;
}
.icon-title{
    margin-left: 15px;
}

.faster-text{
  background: -webkit-linear-gradient(#3180D5
  , #30C29F
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box .box-content{
line-height: 30px;

}

.interview{
   
    display: flex;
    
    width: 90%;
    
    margin: 0 auto;
}


.interview div img{
    width: 100%;
    position: relative;
    
}
.interview div{
    width: 80%;
  
}
.interview-section{
    margin-left: 10vw;
}
.interview div p{
    width: 100%;
  
}

.role-section{
    text-align: center;
    color: #FFFFFF;
    
}
.roles{
    justify-content: space-around;
    margin: 50px 0;
}
.role-card{
    background: linear-gradient(101.16deg, rgba(174, 174, 174, 0.24) 13.92%, rgba(255, 255, 255, 0.036) 84.63%);
box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
backdrop-filter: blur(20px);
height: auto;
width: 20vw !important;
padding: 10px 0;
border-radius: 10px;
justify-content: space-around;
align-items: center;
line-height: 30px;
flex-wrap: wrap;
}
.role-card img{
    width: 20%;
    border-radius: 50%;
}
.instructor-icons{
    justify-content: space-around;
    align-items: center;

}
.ins-title{
    font-size: 12px;
}
.role-icons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.role-icons img{
    width: 1vw;
}
.role-card .role-title{
    color: #E6E6E6;
}
.vector-section{
    justify-content: space-around;
}
.vector-detail{
    width: 25%;
    min-height: 400px;
    padding: 20px 10px; 
    text-align: center;
    flex-wrap: wrap;

    

}


.vector-detail h4{
    text-align: center;
}
.vector-detail img{
    width: 50%;
    
}

.vector-detail p{
    color: #E6E6E6;
    font-weight: 100;
}

.about-detail{
    flex-wrap: wrap;
}
.about-detail div{
    width: 40%;
    font-size: 1rem;
}
.about-detail video{
    width: 50vw;
}
.about-detail p{
    width: 80%;
} 
.testimonial{
    text-align: center;
}
.client-review{
    width: 60vw;
    background: linear-gradient(101.16deg, rgba(174, 174, 174, 0.24) 13.92%, rgba(255, 255, 255, 0.036) 84.63%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
margin: 100px 0;
    padding: 100px 0;
    border-radius: 10px;
    position: relative;
    
    
}

.inner-testimonial{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.client-detail{
    width: 80%;
    margin: 0 auto;
}

.client-profile{
    position: absolute;
    bottom: -8%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.client-img{
    margin-left: 10px;
}
.buttons img{
    margin: 10px 20px;
}
.blog-cards{
    padding: 10px;
    width: 25%;
    background: linear-gradient(101.16deg, rgba(174, 174, 174, 0.24) 13.92%, rgba(255, 255, 255, 0.036) 84.63%);
box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
backdrop-filter: blur(20px);
;

}
.blog-container {
    justify-content: space-around;
    margin: 50px 0;
}
.blog-buttons{
    text-align: center;
}
.blog-buttons img{
    margin: 0 12px;
}


.contact-card{
    background: linear-gradient(101.16deg, rgba(174, 174, 174, 0.24) 13.92%, rgba(255, 255, 255, 0.036) 84.63%);
backdrop-filter: blur(20px);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 40px;
text-align: center;
min-height: 300px;
width: 50%;



}

.contact{
    justify-content: space-around;
    width: 80vw;
}
.contact-card h1{
    background: linear-gradient(86.25deg, #3180D5 7.06%, #30C29F 87.74%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.card-icons img{
margin: 0 10px;
}
.card-img{
    width: 20vw;
}
.contact .right-box{
 
    text-align: center;
}
.contact .right-box p{
    width: 100%;

}

.book{
    background-image: url('./images/web.jpeg');
    background-size: cover;
    min-height: 300px;
    padding: 40px 0;
   
    width: 80%;
    
}
.button button{
    display: inline-block;
padding: 12px 22px;
width: 200px;
outline: none;
font-weight: 300;
border-radius: 8px;
border: none;

}
.button-color{
    background: linear-gradient(86.25deg, #3180D5 7.06%, #30C29F 87.74%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.book-detail p{
width: 50%;
display: inline-block;
}

footer{
    background: #131313;
    min-height: 361px;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    line-height: 30px;
    padding: 0 5vw;
    flex-wrap: wrap;
}
.footer-right{
    line-height: 40px;
}
.footer-right a{
    text-decoration: none;
    color: #FFFFFF;
}
.footer-right img{
    margin: 20px 0;
    width: 50%;
}
.footer 
.roadmap-img{
    width: 80%;
}


/* Small screen devices (600px and above) */
.feufo-img{
    width: 30vw !important;
}
.roadmap-img{
    width: 80%;
}
/* Medium screen devices (768px and above) */

@media only screen and (max-width:800px){

      .ins-content{
        font-size: 1.8rem !important;
      }


}

@media only screen and (max-width: 768px) {
.buttons{
    display: none;
}

#book_demo{
    font-size: 1.2rem !important;
}

.feufo-img {
    width: 80vw !important;
}
.role-card h4{
    font-size: 1.8vw !important;
  
  justify-content: space-around;
  display: flex;
  
}
.hero-btns{
    width: 70vw !important;
margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 !important;

}
.hero-btns a{
display: inline-block;
width: 40vw !important;
height: 42px !important;
font-size: 1rem !important;
}
.hero-img{
    width: 80vw !important;
}
.btns{
    font-size: 5rem !important;
}
.client-profile > img{
    width: 20vw !important;
}
.about-detail video{
    width: 80vw !important;
    margin-bottom: 10vw !important;
}


#member{
    font-size: 1.3rem !important;

}
#partner{
    height: 80px;
align-items: center;
   position: relative;
   right: 60px !important;
   width: 100vw;display: flex;justify-content: center;
}
#partner a{
    display: inline-block;
width: 40vw !important;
height: 42px !important;
font-size: 1rem !important;
position: absolute;
top: -40%;
left: 25%;
}
#or{
    position: relative;
    right: 4vw !important;
}

  .client-profile{
    position: relative !important;
    bottom: 40vw !important;
    
  }


  .ins-content{
    font-size: 1.8rem !important;
  }
   .carousel{

  display: flex !important;
  justify-content: space-around !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;

   }
   .ins-content{
    font-size: 1.8rem !important;
   }
   .instructor-card{
    width: 90% !important;
   }

.flex{
    flex-wrap: wrap;
}
.interview-img{
    position: relative;
    right: 60px;
}
#hire-img{
    margin: 2vw 0 0 0;
    position: relative;
    right: 30px !important;
}
.hero-section .right{
    margin-left:100px;
}
.inner{
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}
.left-box,.right-box{
    width: 80%;
}

.role-heading ,.role-title{
    font-size: 15px !important;
}
.role-icons{
    flex-direction: row;
}
.vector-detail{
    width: 80%;
    margin: 20px 0;
}
.card-img{
    margin: 20px 0 0 0;
}
.role-card{
    min-width: 100vw;
    margin: 10px 0;
    min-height: 50px !important;

}
.icons span{
    font-size: 1rem !important;
}
.box-content p{
    width: 100%;
}

.hero-section .left,.right{
    width: 100%;
 

}
.hero-section .left{
    text-align: center;
    width: 100%;
  
}

.hero-section .content h4{
    width: 100%;
    font-size: 2rem !important;

}
.feufo-img{
    position: relative;
}

.client-review{
    width: 80vw;
}

.interview{
    flex-direction: column-reverse;
    width: 100%;
margin-left: 70px;
}



.interview div{
    width: 80%;
    margin: 20px 0;
  
}
.vector-detail img{
    width: 35vw;
}
.btns{
    font-size: 1vw !important;
}

.content ,.about-detail ,.hire-section{
  
    width: 80%;
    margin: 0 auto;
}
.about-section{
    margin-bottom: 20px;
}

.about-detail p{
    width: 100%;
    margin: 20px 0;
}
.about-heading{
    margin-left: 80px;
}
.responsive{
    width: 70vw;
}
.footer-right h2{
    margin-top: 20px;
}

.why-section{
    margin: 100px 0;
}
footer div{
    width: 80%;
    padding: 20px 0;

}
.logo{
    margin: 20px 0;
    position: relative !important;
    left: 1px !important;
 

}
.book-detail{
    width: 100%;

}
.role-card h4{
    margin: 15px 0;
    font-size: 20px !important;
}

.book-detail .client-detail p{
    width: 80%;
}
.about-detail{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel__item{
width: 80%;
}
#or{
    width: 50vw
}

}
@media(max-width:460px){
    .icon-title{
        font-size: 10px !important;
    }

}

/* Big screen devices (889px and above) */
@media (min-width:768px) and (max-width: 100px) {

    
    .interview{
        flex-direction: column-reverse;
        width: 100%;
    margin-left: 70px;
    }
    
    
    
    .interview div{
        width: 80%;
        margin: 20px 0;
      
    }
}



.role-icons{
    justify-content: center;
    align-items: center;
}
.linkdin-icon{
    align-self: flex-start;
}
.role-card h4{
    font-size: 12px !important;
  
  justify-content: space-around;
  display: flex;
  
}

.fav-icon img{
position: absolute !important;
top: 5% !important;
right: 5% !important;
}
.ins-content{
  color: #F5F5F5 !important;
  font-size: 1vw;
  
}
.card-icons{
  color: #30C29F;
  text-align: center;
 

}
.instructor-btn a:hover{
color: #E6E6E6 !important;
text-decoration: none !important;
}
.card-icons span{
  font-size: 14px !important;
}

.ins-content{

  text-align: center;
}


:root {
    --marquee-width: 160vw !important;
    --marquee-height: 130px;
    /* --marquee-elements: 12; */ /* defined with JavaScript */
    --marquee-elements-displayed:6;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
  }
  
  .marquee {
    /* width: var(--marquee-width); */
    /* height: var(--marquee-height); */
    
  
    color: #eee;
    overflow: hidden;
    position: relative;
  }
  .marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
  }
  .marquee:before {
    left: 0;
   
  }
  .marquee:after {
    right: 0;
    
  }
  .marquee-content {
    list-style: none;
    height: 100%;
    width: 150vw !important;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
  }
  /* .marquee-content:hover {
    animation-play-state: paused;
  } */
  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
  }
  .marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
justify-content: space-around !important;
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
  /*   font-size: calc(var(--marquee-height)*3/4); /* 5rem; */ */
    white-space: nowrap;
  }
  

  
  @media (max-width: 800px) {

    :root {
      --marquee-width: 400vw !important;
      --marquee-height: 16vh !important;
      --marquee-elements-displayed:6 !important;
    }
    .instructor-btn{
        position: relative !important;
        top: -7vw !important;
        left: 10vw !important;
    }
    .marquee:before, .marquee:after { width: 5rem; }
  }
  @media(max-width:600px){
    
    :root {
        --marquee-width: 400vw !important;
        --marquee-height: 16vh !important;
        --marquee-elements-displayed:5 !important;
      }
  }


  @media (max-width: 1161px) {

    :root {
      --marquee-width: 500vw;
      --marquee-height: 16vh;
      --marquee-elements-displayed:4;
    }
    .marquee:before, .marquee:after { width: 5rem; }
  }

